MONGODB_URI=mongodb+srv://zeyadmaher177@gmail.com:37QLcanCvt6kSwlj@cluster0.iyrvmmn.mongodb.net/?appName=Cluster0
JWT_SECRET=kdjsvlnkjdvnljsdnvlkjnv-**-sdvsvddfbw3efwaef
ADMIN_HASH=JDJhJDEyJHR1SjNNTW1ucDFHY0liSGFZdVRpY3UvLmZMclJLalZOL0tLbm8yM2FPRDhCdVV6WVVrZkJ5
PORTFOLIO_ORIGIN=https://your-portfolio.com
